@model MVCProjectTushar.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="container">
    <h3>Are you sure you want to delete this employee?</h3>
    <div>
        <h4>Employee Details</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.EmailAddress)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.EmailAddress)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => model.Designation)
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => model.Designation.DesignationName)
            </dd>
        </dl>

        <form asp-action="Delete" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="mb-3">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-action="Index" class="btn btn-link">Back to List</a>
            </div>
        </form>
    </div>
</div>
