@model MVCProjectTushar.Models.Employee

@{
    ViewData["Title"] = "Employee Details";
}

<h1 class="text-center mb-4">@ViewData["Title"]</h1>

<div class="container">
    <h4>Employee Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Designation.DesignationName)
        </dd>
    </dl>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-link">Back to List</a>
    </div>
</div>
